@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* #__next {
    @apply contents;
  } */
  html {
    @apply h-full scroll-smooth antialiased;
  }
  body {
    @apply flex flex-col h-full;
  }
  main {
    @apply flex-1 mx-3;
  }
}
/* 
@layer components {
  .section {
    @apply py-24;
  }
  .center {
    @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8;
  }
} */
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
